In [1]:
import pandas as pd
import numpy as np
import dask.dataframe as dd
from datetime import datetime

In [2]:
## variables #####
target_asset_id = 1
forecast_period = 60 # one hour
train_period = 30 * 1440 # 30 days
target = 'Open'

In [3]:
train_dir = '/mnt/original_dataset'
all_market = dd.read_csv(f'{train_dir}/train.csv')
asset_details = pd.read_csv(f'{train_dir}/asset_details.csv')
# all_market['transact_time'] = all_market.timestamp.map(datetime.fromtimestamp)
target_market = all_market[all_market.Asset_ID == target_asset_id]
other_market = all_market[all_market.Asset_ID != target_asset_id]

In [4]:
year21 = int(datetime.timestamp(datetime.strptime('01/01/2021', '%m/%d/%Y')))
target_market21 = target_market.loc[target_market.timestamp > year21, :]
other_market21 = other_market.loc[other_market.timestamp > year21, :]
target_df_size = len(target_market.Asset_ID)

In [5]:
other_market21.tail()

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target
27453,1632182400,9,775.0,157.181571,157.250000,156.700000,156.943857,4.663725e+03,156.994319,NaN
27454,1632182400,10,34.0,2437.065067,2438.000000,2430.226900,2432.907467,3.975460e+00,2434.818747,NaN
27455,1632182400,13,380.0,0.091390,0.091527,0.091260,0.091349,2.193732e+06,0.091388,NaN
27456,1632182400,12,177.0,0.282168,0.282438,0.281842,0.282051,1.828508e+05,0.282134,NaN
27457,1632182400,11,48.0,232.695000,232.800000,232.240000,232.275000,1.035123e+02,232.569697,NaN

In [14]:
train_start = np.random.randint(0, target_df_size - train_period - forecast_period, 1)[0]
train_end = train_start + train_period
test_start = train_end + 1
test_end = test_start + forecast_period
target_train = target_market21.loc[train_start:train_end]

In [11]:
print(train_start, target_df_size, train_end)

1149056 1956282 1192256